.small-header{
	border-radius: 50%;
	border: 3px solid #eee;
	overflow: hidden;
	height: 60px;
	width: 60px;
}

.table-td-rank{
    width: 100px;
}

.table-td{
    width: 400px;
}


.table-board{
    position: relative;
    left: 10%;
}

.table-num{
    color: #cd2a19;
    margin-right:200px;
    font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.panel-heading {
    padding-top:5px;
    padding-bottom:0px;
}

.jumbotron p {
    font-size:18px;
}
