{% extends "base_with_nav.html" %}

{% block title %}Choose Role{% endblock %}

{% block css_style %}
<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet">
    {% load static %}
    <link href="{% static "css/login_base.css" %}" rel="stylesheet">
    <link href="{% static "css/choose_role.css" %}" rel="stylesheet">
{% endblock %}



{% block container %}

<div class="row">

<div class="col-xs-3" style="margin-right: 40px">
    <div class="row">
         <div class="well profile">
            <div class="col-sm-12">
                <div class="col-xs-12 text-center">
                    <figure><center>
                        <img src="{% url 'get_avatar' id %}" alt="" class="img-circle img-responsive">

                   </center> </figure>
                </div>
                <br/>
                <div class="col-xs-12 " id="content">
                   <center> <h2>{{first_name}} {{last_name}}</h2></center>
                    <p><strong>About: </strong> {{bio}}</p>
                    <p><strong>Occupation: </strong> {{occupation}} </p>
                    <p><strong>Language: </strong>
                        <span class="tags">{{language}}</span> 
                    </p>
                </div>             

            </div>            
            <div class="col-xs-12 divider text-center">
                <div class="col-xs-12 col-sm-6 emphasis">
                    <h2><strong>{{rating}}</strong></h2>                    
                    <p><small>Rating</small></p>
                </div>

                <div class="col-xs-12 col-sm-6 emphasis">
                    <h2><strong>{{interview_credit}}</strong></h2>                    
                    <p><small>Credits</small></p>
                </div>
                <div class="col-xs-12 col-sm-6 emphasis">
                    <h2><strong>{{age}}</strong></h2>                    
                    <p><small>Age</small></p>
                </div>
         </div>                 
        </div>
</div>
</div>

<div class="col-xs-8 ">

    <span style="display:block; height: 10px;"></span>
    <div class="panel panel-info">
        <div class="panel-heading">
            Choose role
        </div>
        <div>
            <form class="login-form" id="match_form">
                <table style="width:100%">
                <tr>
                <td>

                {% for field in form.visible_fields %}
                    <div class="input-group register-input choice">
                        {{ field }}
                    </div>
                    <p class="error-tag">  {{ field.error }}</p>
                {% endfor %}
                </td>

                <td>
                <button type="submit" id="match_btn" class="btn sm btn-info login-button"
                        {% if interview_credit <= 0 %}
                        disabled
                        {% endif %}
                >Match
                </button>
                </td>
                {% csrf_token %}
                </tr>
                </table>
            </form>

        </div>


        <pre id="problem"><code>

       </code></pre>

    </div>
    </div>
    </div>
{% endblock %}


{% block js %}
    <script type="text/javascript" src="{% static "js/reconnecting-websocket.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/choose_role.js" %}"></script>

{% endblock %}

