<!DOCTYPE html>
<html lang="en">
<head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

  <title>Test</title>
</head>
<body>
  <form id="chatform">
          <textarea id="message" type="text" placeholder="message" rows='10'></textarea>
          <button type="submit" id="go">Say it</button>
  </form>
{% load static %}
  <script type="text/javascript" src="{% static "jquery-1.12.1.min.js" %}"></script>
  <script type="text/javascript" src="{% static "reconnecting-websocket.min.js" %}"></script>
  <script type="text/javascript" src=".{% static "chat.js"%} "></script>
</body>
</html>
