{% extends "base_with_nav.html" %}

{% block title %}Add a Language{% endblock %}

{% block css_style %}
    {% load static %}
    <link href="{% static "css/login_base.css" %}" rel="stylesheet">
{% endblock %}

{% block container %}
      <span style="display:block; height: 10px;"></span>
      <div  class="panel panel-info">
            <div class="panel-heading">
                Add a New Language:
            </div>
            <div >

                {% for error in form.non_field_errors %}
                    <p class="alert alert-danger"> {{error}}</p>
                {% endfor %}
                <form action="{% url 'add_language' %}" method="post" class="login-form">
                    {% for field in form.visible_fields %}
                        <div class="input-group register-input">
                             {{ field }}
                        </div>
                        <p class = "error-tag">  {{field.error}}</p>
                    {% endfor %}

                   <button type="submit" class="btn sm btn-info login-button">Add</button>

                {% csrf_token %}
                 </form>

            </div>
<p>
{% if languages %}
Current language list:
{% endif %}
<ol>
{% for language in languages %}
  <li>{{language}}
{% endfor %}
</ol>
</p>

     </div>
{% endblock %}


{% block js %}
  <script src="{% static "js/list.js" %}"></script>
{% endblock %}

