<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>
        {% block title %}
          login
        {%  endblock %}
    </title>

    <!-- Bootstrap core CSS -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../static/css/login_base.css" rel = "stylesheet">

  </head>

  <body class = "login-bg" >

    <div class="blog-masthead">
      <div class="container">
        <nav class="blog-nav">
          <p class="logo logo-cen">CMU-Interview</p>
        </nav>
      </div>
    </div><!-- end blog-masthead -->

     <div class="panel panel-info login-panel">
            <div class="panel-heading">
                 {%  block sign-title%} {% endblock %}
            </div>

            <div  class="panel-body">
                 {%  block sign_form%} {% endblock %}
            </div>
     </div>
</html>
