{% extends "room-base.html" %}

{% block title %}Interview Square{% endblock %}

{% block css_style %}
    <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">
    <link href="{% static "css/login_base.css" %}" rel="stylesheet">
{% endblock %}



{% block container %}
      <button class="btn" id="create_interview_btn" >create interview</button>
      <div  class="panel panel-info">
            <div class="panel-heading">
                Interveiw room
            </div>
            <div id = "interview-list">

            </div>

     </div>
{% endblock %}



  <script src = "{% static "js/jquery-1.12.1.min.js" %}"> </script>
  <script src="{% static "js/bootstrap.min.js" %}"></script>
  <script src="{% static "js/list.js" %}"></script>

