{% extends "base.html" %}

{% block title %}Interview Square{% endblock %}

{% block css_style %}
    {% load static %}
    <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">
    <link href="{% static "css/login_base.css" %}" rel="stylesheet">
{% endblock %}

{% block navbar-right %}

    <ul class="nav pull-right">
        <li class="dropdown">
            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Account
                <span class="caret"></span></button>

            <ul class="dropdown-menu">
                <li><a href="#">Profile</a></li>
                <li><a href="#">Settings</a></li>
                <li><a href="{% url 'logout' %}">Log Out</a></li>

            </ul>
        </li>
    </ul>


    </form>

{% endblock %}

{% block container %}
      <button class="btn" id="create_interview_btn" >create interview</button>
      <div  class="panel panel-info">
            <div class="panel-heading">
                Interveiw room
            </div>
            <div id = "interview-list">

            </div>

     </div>
{% endblock %}


{% block js %}
  <script src="{% static "js/list.js" %}"></script>
{% endblock %}

