{% extends "base_with_nav.html" %}

{% block title %}Interview Square{% endblock %}

{% block css_style %}
    {% load static %}
    <link href="{% static "css/login_base.css" %}" rel="stylesheet">
    <link href="{% static "css/profile.css" %}" rel="stylesheet">
    <link href="{% static "css/choose_role.css" %}" rel="stylesheet">
{% endblock %}


{% block container %}

<div class="row jumbotron">

<div class="col-md-offset-2 col-md-8 col-lg-offset-3 col-lg-6">
    <div class="row">
         <div class="well profile">
            <div class="col-sm-12">
                <div class="col-xs-12 text-center">
                    <figure><center>
                        <img src = "{% url 'get_avatar' profile.user.id%}" alt="" class="img-circle img-responsive">

                   </center> </figure>
                </div>
                <br/>
                <div class="col-xs-12 " id="content">
                   <center> <h2>{{profile.user.first_name}} {{profile.user.last_name}}</h2></center>
                    
                    <p><strong>About: </strong> {{profile.bio}}</p>
                    <p><strong>Occupation: </strong> {{profile.occupation}} </p>
                    <p><strong>Schoool: </strong> {{profile.school}} </p>
                    <p><strong>Language: </strong>
                        <span class="tags">{{profile.language}}</span> 
                    </p>
                </div>             

            </div>            
            <div class="col-sm-12 divider text-center">
                <div class="col-sm-12 col-sm-4 emphasis">
                    <h2><strong>{{profile.rating}}</strong></h2>                    
                    <p><small>Rating</small></p>
                </div>

                <div class="col-sm-12 col-sm-4 emphasis">
                    <h2><strong>{{profile.interview_credit}}</strong></h2>                    
                    <p><small>Credits</small></p>
                </div>
                <div class="col-sm-12 col-sm-4 emphasis">
                    <h2><strong>{{profile.age}}</strong></h2>                    
                    <p><small>Age</small></p>
                </div>
         </div>                 
        </div>
</div>
</div>
</div>

{% endblock %}


{% block js %}
  <script src="{% static "js/list.js" %}"></script>
{% endblock %}

